<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       	xmlns:p="http://www.springframework.org/schema/p" 
       	xmlns:c="http://www.springframework.org/schema/c"
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xmlns:context="http://www.springframework.org/schema/context"
    	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       	xmlns:util="http://www.springframework.org/schema/util"
       	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.1.xsd
   			http://www.springframework.org/schema/data/mongo
   			http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<context:property-placeholder properties-ref="deployProperties" />
		
	<!-- Activate Spring Data MongoDB repository support -->
  	<mongo:repositories base-package="com.mwh.vi.projectmanagement.repository" />
  	
  	<!-- MongoDB host -->
	<mongo:mongo host="${mongo.host.name}" port="${mongo.host.port}"/>

	<!-- Template for performing MongoDB operations -->
  	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate" 
  			c:mongo-ref="mongo" c:databaseName="${mongo.db.name}"/>
  			 	  				
  	<!-- <bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="host" value="${host}"/>
			<property name="port" value="${port}" />
			<property name="username" value="${name}" />
			<property name="password" value="${password}" />
			<property name="javaMailProperties">
                <props>
                      <prop key="mail.smtp.auth">true</prop>
                      <prop key="mail.smtp.starttls.enable">true</prop>
                      <prop key="mail.smtp.starttls.required">true</prop>
               </props>
        </property>
	</bean> -->
	
	<!-- This bean sets up the Velocity environment for us based on a root path 
		for templates. Optionally, a properties file can be specified for more control 
		over the Velocity environment, but the defaults are pretty sane for file 
		based template loading. -->
	<!-- <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
	</bean> -->
</beans>